.btn {
  padding: 10px 15px;
  border-radius: var(--border-radius);
  transition: all, 150ms ease;

  &:hover {
    cursor: pointer;
    color: #fff;
    font-size: 800;
  }
}

.btn-primary {
  background: var(--color-vermelho);
  color: #fff;

  &:hover {
    box-shadow: 1px 1px 3px 0px var(--color-vermelho-black);
    background: var(--color-vermelho-dark);
  }
}

.btn-secondary {
  background: var(--color-verde);
  color: #fff;

  &:hover {
    box-shadow: 1px 1px 3px 0px var(--color-verde-dark);
    background: var(--color-verde-dark);
  }
}

.btn-gray {
  background: var(--color-cinza);
  color: #fff;
  margin: auto;

  margin-top: 20px;

  &:hover {
    background: rgb(124, 124, 124);
    box-shadow: 2px 3px 3px 0 rgb(124, 124, 124);
  }
}

.btn-green {
  background: var(--color-verde);
  margin: auto;

  margin-top: 20px;

  &:hover {
    background: #00554b;
    box-shadow: 2px 3px 3px 0 #00554b;
  }
}
