:root {
  --color-black: rgb(27, 27, 27);

  --color-verde: #008072;
  --color-verde-dark: #01554b;
  --color-verde-light: #029b89;

  --color-vermelho: #d35640;
  --color-vermelho-dark: #b44d3a;

  --color-azul: #80cbc4;
  --color-light: #eeeeee;

  --color-cinza: #616161;
  --color-cinza-light: #8d8d8d8f;

  --color-verde-logo: #88bd24;

  --shadow-md: -7px -8px 12px 4px #000;

  --border-radius: 5px;
}
